[user]
{{ if eq .chezmoi.username "4900YEN\\showe"}}
	name = labfish
	email = 168062620+labFish00@users.noreply.github.com
{{ else }}
	name = boxfish_jp
	email = 79849824+boxfish-jp@users.noreply.github.com
[init]
	defaultBranch = main
